<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Proxy to Kestrel" stopProcessing="true">
					<match url="(.*)" />
					<action type="Rewrite" url="http://localhost:5000/{R:1}" />
					<serverVariables>
						<set name="HTTP_X_Forwarded_Proto" value="https" />
					</serverVariables>
				</rule>
			</rules>
		</rewrite>
		<proxy enabled="true" preserveHostHeader="true" reverseRewriteHostInResponseHeaders="false" />
	</system.webServer>
</configuration>
