<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>

		<!-- Remover WebDAV para evitar 405/501 em OPTIONS e métodos não padrão -->
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<security>
			<requestFiltering>
				<verbs applyToWebDAV="false">
					<add verb="OPTIONS" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>

    	<aspNetCore processPath="dotnet"
					arguments=".\FSI.Authentication.Presentation.dll"
					hostingModel="inprocess"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
		</aspNetCore>

	</system.webServer>
</configuration>
