<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Garante que o verbo OPTIONS não é bloqueado -->
		<security>
			<requestFiltering>
				<verbs applyToWebDAV="false">
					<add verb="OPTIONS" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>

		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<aspNetCore processPath="dotnet"
					arguments=".\FSI.Authentication.Presentation.dll"
					hostingModel="inprocess"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
